{
	"presets": [
		["env", {
			"targets": {
				"ie": 9,
				"browsers": ["last 2 versions"]
			}
		}],
		"stage-0",
		"react"
	],
	"plugins": [
		["transform-runtime",
		 "transform-react-jsx", {
			 "pragma": "dom"
		 }]
	],
	"compact": false,
	"ignore": [ "what-input.js" ]
}
