<footer class="footer row">
	<div class="col-12">
		<nav class="footer__nav" role="navigation">
			<ul class="footer__nav-list">
				<li class="footer__nav-item"><a href="#" class="footer__nav-link">Правила</a></li>
				<li class="footer__nav-item"><a href="#" class="footer__nav-link">Пользовательское соглашение</a></li>
				<li class="footer__nav-item"><a href="#" class="footer__nav-link">О проекте</a></li>
				<li class="footer__nav-item"><a href="#" class="footer__nav-link">Обратная связь</a></li>
			</ul>
		</nav>
		
		<div class="footer__license">
			<p class="footer__license-para">© «KIKI». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2016</p>
			<p class="footer__license-para">Администрация не несёт ответственности за размещённые анкеты - Вся информация на сайте предоставлена посетителями.</p>
		</div>
	</div>
</footer>
