<section class="gallery">
	<div class="row">

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card card--top">
				<div class="card__top-label is-active">ТОП</div>
			
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-1.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">12</a>
						<div class="card__status is-active">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Кристиночка, 21</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card card--top">
				<div class="card__top-label is-active">ТОП</div>

				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-2.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">1</a>
						<div class="card__status">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Альбина, 26</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card card--top">
				<div class="card__top-label is-active">ТОП</div>

				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-3.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">93</a>
						<div class="card__status">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Diana, 29</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card">
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-4.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">4 </a>
						<div class="card__status is-active">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">LADY, 23</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card">
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-5.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">3</a>
						<div class="card__status is-active">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Angel, 27</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card">
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-6.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">12</a>
						<div class="card__status is-active">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Диана, 26</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card">
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-7.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">12</a>
						<div class="card__status">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Ксюха, 30</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>

		<!--	card item	-->
		<div class="col-md-3 col-sm-4 col-6">
			<div class="card">
				<div class="card__picture">
					<a href=""><img src="assets/img/jpg/photo-8.jpg" alt="" class="card__image"></a>

					<div class="card__infoblock">
						<a class="card__pictures-counter" href="">12</a>
						<div class="card__status is-active">Онлайн</div>
					</div>
				</div>

				<div class="card__description">
					<a class="card__title" href="#">Тамара, 19</a>
					<div class="card__location">Санкт-Петербург, Россия</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 pagination-wrap">
		<ul class="pagination text-center" role="navigation">
			<li class="pagination__item"><a href="#" class="pagination__link pagination-previous"><i class="icon icon-chevron-thin-left"></i></a></li>
			<li class="pagination__item"><a href="#" class="pagination__link is-active">1</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link">6</a></li>
			<li class="pagination__item"><a href="#" class="pagination__link pagination-next"><i class="icon icon-chevron-thin-right"></i></a></li>
		</ul>
	</div>

</section>
