<header class="header">
	<div class="row header-wrap">
		<a class="header__logo col-3 col-sm-2 icon icon-logo" href="#"></a>

		<div class="hamburger-button">
			<input type="checkbox" id="nav-menu-mobile-button"/>
			<label for="nav-menu-mobile-button" class="hamburger-menu">
				<div class="hamburger-bar"></div>
			</label>
		</div>

		<div class="top-menu js_top-menu">
			<ul class="top-menu__info">
				<li class="top-menu__info-item">
					Пробный аккаунт <a class="top-menu__info-link icon icon-question-mark" href="#"></a>
				</li>
				<li class="top-menu__info-item">
					<span class="menu-sec-item">Баланс: </span>100 руб. <a href="#" class="top-menu__info-link icon icon-plus"></a>
				</li>
				<li class="top-menu__info-item">
					<div class="top-menu__user">
						<a class="top-menu__user-img-link" href="#">
							<img src="assets/img/png/avatar.png" alt="User image" class="top-menu__user-img">
						</a>
						<span class="top-menu__user-description menu-sec-item">
							Пантелеймон <a href="#" class="top-menu__info-link"><i class="icon icon-chevron-down"></i></a>
						</span>
					</div>
				</li>
			</ul>

			<nav class="top-menu__nav" role="navigation">
				<ul class="top-menu__nav-list">
					<li class="top-menu__nav-item"><a href="#" class="top-menu__nav-link is-active">Поиск</a></li>
					<li class="top-menu__nav-item"><a href="#" class="top-menu__nav-link">Мои переписки</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
